{% extends '::base.html.twig' %}

{% block body %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{ path('index') }}">ensiname</a>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="span4 offset4 well">
			<legend>login</legend>
			<!--
          	<div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div>
        	-->
			<form method="POST" action="{{ path('check') }}" accept-charset="UTF-8">
			<input type="text" id="login" class="span4" name="login" placeholder="login">
			<input type="password" id="senha" class="span4" name="senha" placeholder="senha">    
			<button type="submit" name="submit" class="btn btn-info btn-block">entrar</button>
			</form>    
		</div>
	</div>
</div>
{% endblock %}