<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="{{ path('index') }}">Ensiname</a>
        <ul class="nav">
	        {% for item in navigation %}
            <li><a href="{{ item.href }}">{{ item.label }}</a></li>
	        {% endfor %}
        </ul>
    </div>
</div>