{% extends '::base.html.twig' %}

{% block body %}
{{ include('IstEnsinameBundle:Security:nav.html.twig') }}
<div class="row">
	<div class="span4 offset4 well">
		<legend>Личный кабинет «Ensina-me»</legend>
		{{ include('IstEnsinameBundle:Default:alert.html.twig') }}
		<form action="{{ path('login_check') }}" method="post" accept-charset="UTF-8">
			<input type="hidden" name="_target_path" value="/dashboard" />
			<input type="text" id="username" class="span4" name="_username" placeholder="Логин">
			<input type="password" id="password" class="span4" name="_password" placeholder="Пароль">
			<button type="submit" name="submit" class="btn btn-info btn-block">Вход</button>
		</form>
	</div>
</div>
{% endblock %}
