<div class="navbar navbar-static-top" style="margin-bottom:2em;">
	<div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="{{ path('index') }}">ensiname</a>
		</div>
	</div>
</div>