{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
{{ include('IstEnsinameBundle:Aula:form.html.twig', { 'action': path('aula_create'), 'form': form, 'legend': 'Добавить новый урок', 'method': 'POST' }) }}
<input type="hidden" id="data" value="{{ data }}" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.datepicker')
    .datepicker({ orientation: "top right", format: "dd/mm/yyyy", autoclose: true })
    .on('hide', function(e) { $(this).keyup(); });
var data = $.parseJSON($('#data').val());
{% if is_granted('ROLE_ADMIN') %}
$('#ist_bundle_ensinamebundle_aulatype_professor option').each(function() {
    var fica = false;
    for (professor in data)
        if ($(this).val() == professor)
            fica = true
    if (!fica) {
        $(this).hide();
        $(this).attr('disabled', 'disabled');
    }
});
{% endif %}
$('#ist_bundle_ensinamebundle_aulatype_grupo').change(function() {
    var grupoSelecionado = $(this).val();
    {% if is_granted('ROLE_ADMIN') %}
    var professorSelecionado = $('#ist_bundle_ensinamebundle_aulatype_professor').val();
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    var professorSelecionado = $('#professor').val();
    {% endif %}
    $('#presencas label').each(function() {
        $(this).show();
        var fica = false;
        for (professor in data)
            if (professorSelecionado == professor)
                for (grupo in data[professor])
                    if (grupoSelecionado == grupo)
                        for (aluno in data[professor][grupo])
                            if ($(this).attr('for').split("_").pop() == data[professor][grupo][aluno])
                                fica = true;
        if (!fica)
            $(this).hide();
    });
});
{% if is_granted('ROLE_ADMIN') %}
$('#ist_bundle_ensinamebundle_aulatype_professor').change(function() {
    var professorSelecionado = $(this).val();
{% endif %}
{% if is_granted('ROLE_PROF') %}
function controlaGrupo() {
    var professorSelecionado = $('#professor').val();
{% endif %}
    var primeiro = true;
    $('#ist_bundle_ensinamebundle_aulatype_grupo option').each(function() {
        $(this).show();
        $(this).removeAttr('disabled');
        $(this).removeAttr('selected');
        var fica = false;
        for (professor in data)
            if (professorSelecionado == professor)
                for (grupo in data[professor])
                    if ($(this).val() == grupo)
                        fica = true;
        if (!fica) {
            $(this).hide();
            $(this).attr('disabled', 'disabled');
        } else {
            if (primeiro) {
                $(this).attr('selected', 'selected');
                $(this).parent().val($(this).val());
                primeiro = false;
            }
        }
    });
    if ($('#ist_bundle_ensinamebundle_aulatype_grupo option').size() == $('#ist_bundle_ensinamebundle_aulatype_grupo option[disabled="disabled"]').size()) {
        $('#ist_bundle_ensinamebundle_aulatype_grupo').parent().append('<span>Нет группы, зарегистрированной для преподавателя</span>');
        $('#ist_bundle_ensinamebundle_aulatype_grupo').hide();
        $('#presencas').parent().hide();
    }

    $('#ist_bundle_ensinamebundle_aulatype_grupo').change();
{% if is_granted('ROLE_ADMIN') %}
});
$('#ist_bundle_ensinamebundle_aulatype_professor').change();
{% endif %}
{% if is_granted('ROLE_PROF') %}
};
controlaGrupo();
$('#ist_bundle_ensinamebundle_aulatype_grupo').change();
{% endif %}
</script>
{% endblock %}
